.vscode/
hostfile
__pycache__/
vci_job_*
lightning_logs/
outputs/
log/
uv.lock
tmp/
notebooks/
*.sif
*.slurm
temp
wandb/
datasets/Replogle_Nadig_dataset
pretrained_SE/se600m_epoch16.ckpt
experiments/
debug_test/
genept_emb/

